body {
    font-family: 'Dosis', sans-serif;

}

header {
    background-image: linear-gradient(to right top, #230832, #2a0a40, #310c4e, #370f5e, #3c126e, #412180, #452e92, #473ca5, #4b54bc, #506cd2, #5684e7, #5f9cfb);
    padding: 20px 0;
    height: 26px;
}


.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

.inicio {
    width: 940px;
    margin: 0 auto;
}

.banner-inicial {
    background: url("banner.jpeg");
    height: 872px;
    width: 100%;
    box-shadow: 10px 10px 30px #000;
}

.titulo-principal {
    position: relative;
    bottom: 432px;
    margin: 0 auto;
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;

}

.botao-teste {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    height: 50px;
    bottom: 150px;
    display: block;
    margin: 0 auto;
    position: relative;

}

.botao-teste::before {
    content: '↓';
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 15px;

}

nav {
    position: absolute;
    right: -150px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

nav a:hover {
    color: #5f4d8d;
}

h3 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
}

p {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 2.5em;
}

.botao-linkedin {
    line-height: 30px;
    width: 350px;
    align-items: center;
    background-color: #200a5a;
    color: #ffffff;
    border-radius: 10px;
}